:root {
	--radius-sm: 0.188rem;
	--radius: 0.313rem;
	--radius-md: 0.438rem;
	--radius-lg: 0.5rem;

	--padding: 0.5rem;
	--gap: 1.25rem;

	--page-width: min(43.75rem, 100vw);

	--nav-height: 3.125rem;
	--nav-width: 100%;
	--secondary-nav-height: 3.125rem;

	--padding-top: 3.75rem;
	--padding-bottom: 5rem;
	--padding-inset: 1.25rem;
	--thick-border-width: 0.188rem;
	--border-radius: 0.25rem;
	--border-radius-inner: 0.125rem;
	--page-content-width: 47.5rem;
	--banner-height: 0px;

	@media screen and (min-width: 480px) {
		--padding-inset: 2rem;
	}

	@media screen and (min-width: 800px) {
		--padding-top: 5rem;
		--padding-inset: 3rem;
		--secondary-nav-height: 3.75rem;
	}
}
