/* RED HAT TEXT  -  Varitable Font (wght) */
@font-face {
	font-family: 'red_hat_text';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/red_hat_text/red_hat_text.ttf') format('truetype');
}
@font-face {
	font-family: 'red_hat_text-italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/red_hat_text/red_hat_text-italic.ttf') format('truetype');
}

/* INCONSOLATA  -  Variable Font (wght) */
@font-face {
	font-family: 'dosis';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/dosis/dosis.ttf') format('truetype');
}

/* INCONSOLATA  -  Variable Font (wght, wdth) */
@font-face {
	font-family: 'inconsolata';
	font-weight: 100 900;
	font-style: monospace;
	src: url('/fonts/inconsolata/inconsolata.ttf') format('truetype');
}

:root {
	--font-a: 'red_hat_text', system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
	--font-b: 'dosis', system-ui, sans-serif;
	--font-m: 'inconsolata', system-ui, monospace;

	--font-xxs: clamp(0.5rem, 2vw, 0.5rem);
	--font-xs: clamp(0.5rem, 2vw, 0.75rem);
	--font-sm: clamp(0.75rem, 2vw, 0.875rem);
	--font: clamp(1rem, 2.7vw, 1.1rem); // todo: update the others like this one
	--font-md: clamp(1rem, 2vw, 1.25rem);
	--font-lg: clamp(1.25rem, 5vw, 1.75rem);
	--font-xl: clamp(1.5rem, 5vw, 2rem);
	--font-xxl: clamp(1.75rem, 7vw, 3rem);
	--font-xxxl: clamp(3rem, 10vw, 5rem);

	/* doing it this way (rather than just `1.5`) means it has a unit, and can be used elsewhere */
	--line-height-body: calc(1.5 * var(--font));
	--line-height-body-sm: calc(1.5 * var(--font-xs));

	--font-mono: 400 var(--font) / 1.1 var(--font-m);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a,
p,
li,
section,
blockquote,
small,
mark,
cite,
figcaption,
button,
input,
textarea,
select,
option,
label,
legend,
fieldset {
	font-weight: 400;
	font-size: var(--font);
	line-height: var(--line-height-body);
	font-family: var(--font-a);
}

pre,
code {
	font: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-a);
	line-height: 1.2;
}

h1 {
	font-weight: 800;
	font-size: var(--font-xxxl);
}

h2 {
	font-weight: 700;
	font-size: var(--font-xxl);
}

h3 {
	font-weight: 500;
	font-size: var(--font-xl);
}

h4 {
	font-weight: 400;
	font-size: var(--font-lg);
}

h5 {
	font-weight: 400;
	font-size: var(--font-md);
}
