:root {
	--shadow-lightness: 0.5;

	--shadow-sm: 0rem 0.02rem 0.029rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.04)),
		0rem 0.078rem 0.059rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.04)),
		0rem 0.094rem 0.078rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.05)),
		0rem 0.117rem 0.117rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.1)),
		0rem 0.195rem 0.195rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.1)),
		0rem 0.273rem 0.391rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.15));

	--shadow: 0rem 0.029rem 0.039rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.03)),
		0rem 0.094rem 0.078rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.04)),
		0rem 0.175rem 0.117rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.05)),
		0rem 0.195rem 0.195rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.065)),
		0rem 0.391rem 0.391rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.09)),
		0rem 0.391rem 0.781rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.1));

	--shadow-lg: 0rem 0.049rem 0.039rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.06)),
		0rem 0.094rem 0.094rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.07)),
		0rem 0.175rem 0.195rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.08)),
		0rem 0.195rem 0.313rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.1)),
		0rem 0.391rem 0.586rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.1)),
		0rem 0.781rem 1.172rem rgba(0, 0, 0, calc(var(--shadow-lightness) * 0.01));
}
