br-xs,
.br-xs {
	height: 0.313rem;
}

br-sm,
.br-sm {
	height: 0.5rem;
}

br-md,
.br-md {
	height: 2.5rem;
	@media screen and (max-width: 831px) {
		height: 1.875rem;
	}
}

br-lg,
.br-lg {
	height: 4.063rem;
	@media screen and (max-width: 831px) {
		height: 3.125rem;
	}
}

br-xl,
.br-xl {
	height: 6.25rem;
	@media screen and (max-width: 831px) {
		height: 3.75rem;
	}
}

.center {
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex {
	display: flex;
}
